body{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    background-image: url(./image/istockphoto-1386858950-170667a.jpg);
}
#display{
    margin-top: 150px;
    color: blue;
    font-size: 110px;
    text-align: center;
}